IBM_CLOUD_API_KEY=your_api_key_here_DO_NOT_COMMIT
WATSONX_PROJECT_ID=your_project_uuid_here
WATSONX_URL=https://us-south.ml.cloud.ibm.com
WATSONX_LLM_MODEL=ibm/granite-4-h-small
WATSONX_EMBEDDING_MODEL=ibm/granite-embedding-278m-multilingual
